#main-color{
    color: #59514C;
    background-color: #59514C;
}

#secundary-color{
    color: #9C8E84;
    background-color: #9C8E84;
}

#terciary-color{
    color:#D9C6B9;
    background-color: #D9C6B9;
}

#font-color{
    color: #59514C;
}