.main-color{
    background-color: #59514C;
    background: #59514C;
}

.secundary-color{
    background-color: #9C8E84;
}

.terciary-color{
    background-color: #D9C6B9;
}

.font-color{
    color: #59514C;
}