* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --black: #090909;
    --black-low: #161616;
    --green-darker: #004324;
    --green-darker-secundary: #006234;
    --green: #00A156;
    --green-light: #00C167;
    --grey-blue: #737380;
    --white: #E1E1E1;
    --label-text-size: 1.5rem;
}

html{
    font-size: 62.5%;
    background-color: var(--black);
    font-family: sans-serif;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    grid-area: header;
    display: flex;
    border-bottom: solid 2px var(--grey-blue);
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem .8rem 0rem .8rem;
    width: 100%;
}

.font-header-title{
    color: var(--white);
    font-weight: normal;
    font-size: 2.5rem;
}

.font-welcome-home{
    font-size: 4.5rem;
    font-family: fantasy;
    text-align: center;
}

.btn-header{
    background-color: var(--black);
    border: none;
}

.btn-header span:active{
    opacity: 50%;
}

.icon-menu{
    display: block;
    color: var(--green-darker-secundary);
    font-size: 4rem;
}

.icon-close{
    display: none;
    color: var(--green-darker-secundary);
    font-size: 4rem;
}

.menu-bar{
    display: none;
}

.menu-bar ul{
    display: flex;
    list-style: none;
}

.menu-bar-link{  
    padding: 2.6rem;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--grey-blue);
}

.menu-bar-link:hover, .menu-bar-active{
    color: var(--white);
    border-bottom: solid 5px var(--green-darker-secundary);
}

.menu-small-device{
    z-index: 100;
    top: 8.8rem;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: var(--black-low);
}

.menu-small-device ul{
    margin: 0rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.menu-small-device ul li{
    margin: 1rem 0rem 0rem 0rem;
}

.menu-small-device-link{
    font-size: 2.4rem;
    color: var(--grey-blue);
    padding: 1rem;
    display: flex;
    text-decoration: none;
    width: 100%;
    background: rgb(30,30,30);
    background: linear-gradient(90deg, rgba(30,30,30,1) 59%, rgba(0,0,0,1) 100%);
    border-radius: 0.5rem;
}

.menu-small-device-link:hover, .menu-small-active{
    color: var(--white);
    border-left: solid 0.5rem var(--green-darker-secundary);
    background: var(--black);
}

.menu-display-none{
    display: none;
}

.menu-display-block{
    display: block;
}

main{
    grid-area: main;
    background-color: var(--white);
}

.main-footer{
    grid-area: footer;
    background-color: var(--black-low);
}

.container-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8.8rem 1fr 10rem;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    min-height: 100vh;
}

.container-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container-form{
    display: grid;
    column-gap: 1rem;
    row-gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'container-name'
        'container-email'
        'container-country'
        'container-city'
        'container-submit';   
    height: 70%;
}


.container-name{
    grid-area: container-name;
}

.container-email{
    grid-area: container-email;
}

.container-country{
    grid-area: container-country;
}

.container-city{
    grid-area: container-city;
}

.container-submit{
    grid-area: container-submit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-register{
    font-size: var(--label-text-size);
    font-weight: bold;
    margin-left: 0.2rem;
}

.span-register{
    font-size: var(--label-text-size);
    color: red;
}

.input-register{
    padding-left: 0.5rem;
    height: 3.5rem;
    font-size: 1.8rem;
    color: #3b3b3b;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--grey-blue);
    width: 30rem;
}

.input-register:focus, select:focus{
    outline: 0;
    border: 0.3rem solid var(--green-darker-secundary);
}

.input-register-focus:focus{
    outline: 0;
    border: 0.3rem solid red;
}

.input-register-empty{
    outline: 0;
    border: 0.3rem solid red;
}

.input-register-no-empty{
    outline: 0;
    border: 0.3rem solid var(--green-darker-secundary);
}

.btn-submit{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: var(--green-darker-secundary);
    border: 0.2rem solid black;
    color: var(--white);
}

.name-empty{
    display: none;
}

.email-empty{
    display: none;
}

.country-empty{
    display: none;
}

.city-empty{
    display: none;
}

.register-message-success{
    color: var(--green-darker-secundary);
}

.register-message-failed{
    color: red;
}

.btn-submit:active{
    background-color: var(--green);
}

@media (min-width: 576px) { 
    .input-register{
        width: 50rem;
    }
 }


@media only screen and (min-width: 768px) { 
    .menu-bar{
        display: block;
    }
    .btn-header{
        display: none;
    }
    .menu-display-block{
        display: none;
    }
 }

@media (min-width: 992px) { 
    
    .container-form{
        display: grid;
        column-gap: 1rem;
        row-gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            'container-name container-email'
            'container-country container-city'
            'container-submit container-submit';   
        height: 50%; 
    }

    .btn-submit{
        width: 50%;
        height: 70%;
    }
 }


@media (min-width: 1200px) {  }
