* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --black: #090909;
    --black-low: #161616;
    --green-darker: #004324;
    --green-darker-secundary: #006234;
    --green: #00A156;
    --green-light: #00C167;
    --grey-blue: #737380;
    --white: #E1E1E1;
}

html{
    font-size: 62.5%;
    background-color: var(--black);
    font-family: sans-serif;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    grid-area: header;
    display: flex;
    border-bottom: solid 2px var(--grey-blue);
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .8rem;
    width: 100%;
}

.font-header-title{
    color: var(--white);
    font-weight: normal;
    font-size: 2.5rem;
}

.btn-header{
    background-color: var(--black);
    border: none;
}

.btn-header span:active{
    opacity: 50%;
}

.icon-menu{
    display: block;
    color: var(--green-darker-secundary);
    font-size: 4rem;
}

.icon-close{
    display: none;
    color: var(--green-darker-secundary);
    font-size: 4rem;
}

.menu-bar{
    display: none;
}

.menu-bar ul{
    display: flex;
    list-style: none;
}

.menu-bar a{
    padding: 2rem;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--grey-blue);
}

.menu-bar a:hover{
    color: var(--white);
    border-bottom: solid 5px var(--green-darker-secundary);
}

main{
    grid-area: main;
    background-color: var(--white);
}

.main-footer{
    grid-area: footer;
    background-color: var(--black-low);
}

.container-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8.8rem 1fr 10rem;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    min-height: 100vh;
}

.menu-small-device{
    z-index: 100;
    top: 8.8rem;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: var(--black-low);
    display: none;
}

.menu-small-device ul{
    margin: 0rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.menu-small-device ul li{
    margin: 1rem 0rem 0rem 0rem;
}

.menu-small-device ul a{
    font-size: 2.4rem;
    color: var(--grey-blue);
    padding: 1rem;
    display: flex;
    text-decoration: none;
    width: 100%;
    background: rgb(30,30,30);
    background: linear-gradient(90deg, rgba(30,30,30,1) 59%, rgba(0,0,0,1) 100%);
    border-radius: 0.5rem;
}

.menu-small-device ul a:hover{
    color: var(--white);
    border-left: solid 0.5rem var(--green-darker-secundary);
    background: var(--black);
}

@media (min-width: 576px) {  }


@media (min-width: 768px) { 
    .menu-bar{
        display: block;
    }
    .btn-header{
        display: none;
    }
 }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }
